html,body {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background-color:White;
	text-align:center;
	color: #000000;
	height:100%;
	width:100%;
	min-height:100%;
	font-weight:normal;
	font-size:small;
	text-transform: none;
	font-family: Verdana;
	letter-spacing: normal;
}


